@model Wedding

<h1>Plan Your Wedding</h1>

<a href="/">Dashboard</a> | <a href="/logout">Logout</a>

<form asp-action="CreateWedding" asp-controller="Home" method="POST">
    <label>
        Wedder One
        <span asp-validation-for="Wedder1"></span>
        <input asp-for="Wedder1">
    </label>
    <label>
        Wedder Two
        <span asp-validation-for="Wedder2"></span>
        <input asp-for="Wedder2">
    </label>
    <label>
        Date
        <span asp-validation-for="Date"></span>
        <input asp-for="Date">
    </label>
    <label>
        Wedding Address
        <span asp-validation-for="Address"></span>
        <input asp-for="Address">
    </label>
    <button>Create</button>
</form>